{
  "env": {
    "development": {
      "presets": ["stage-2"],
      "plugins": ["transform-es2015-modules-commonjs", "transform-runtime"]
    },
    "production": {
      "presets": ["es2015", "stage-2"],
      "plugins": ["transform-runtime"]
    }
  },
  "comments": false
}
