{
  "presets": [
    ["env", {
      "modules": false
    }],
    "stage-2"
  ],
  "plugins": ["transform-runtime"]{{#if_or unit e2e}},
  "env": {
    "test": {
      "presets": ["env", "stage-2"]{{#if_eq runner "karma"}},
      "plugins": ["istanbul"]{{/if_eq}}{{#if_eq runner "jest"}},
      "plugins": ["transform-es2015-modules-commonjs", "dynamic-import-node"]{{/if_eq}}
    }
  }{{/if_or}}
}
