.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
{{#unit}}
test/unit/coverage
{{/unit}}
{{#e2e}}
test/e2e/reports
selenium-debug.log
{{/e2e}}

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
