<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{winTitle}}</title>
    <link rel="stylesheet" href="http://res.wisedu.com/fe_components/jqwidget/blue/bh.min.css" />
    <link rel="stylesheet" href="http://res.wisedu.com/fe_components/jqwidget/blue/bh-scenes.min.css" id="bhThemes" />
    <link rel="stylesheet" href="http://res.wisedu.com/bower_components/fontawesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="http://res.wisedu.com/fe_components/iconfont/iconfont.css">
    <link rel="stylesheet" href="http://res.wisedu.com/bower_components/selectize/dist/css/selectize.bootstrap3.css">
    <link rel="stylesheet" href="http://res.wisedu.com/fe_components/selectize/select.css">
    <!-- 日历组件样式
    <link rel="stylesheet" href="http://res.wisedu.com/bower_components/summernote-0.8.1/dist/summernote-bs3.min.css">
    <link rel="stylesheet" href="http://res.wisedu.com/bower_components/summernote-0.8.1/dist/summernote.css">
    -->
  </head>
  <body>
    <div id="app"></div>
    <script src="http://res.wisedu.com/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- vue support -->
    <script src='http://res.wisedu.com/bower_components/vue/dist/vue.min.js'></script>
    <script src='http://res.wisedu.com/bower_components/vue-router/dist/vue-router.min.js'></script>
    <script src='http://res.wisedu.com/bower_components/vuex/dist/vuex.min.js '></script>
    <script src='http://res.wisedu.com/bower_components/vue-resource/vue-resource.min.js'></script>
    <!-- jqxwidget -->
    <script src='http://res.wisedu.com/fe_components/jqwidget/jqxwidget.min.js'></script>
    <script src="http://res.wisedu.com/fe_components/jqwidget/globalize.js"></script>
    <script src="http://res.wisedu.com/fe_components/jqwidget/globalize.culture.zh-CN.js"></script>
    <!-- bh -->
    <script src="//res.wisedu.com/fe_components/bh.min.js"></script>
    <!-- <script src="./vendors/bh/bh.map.js"></script> -->
    <script src="http://res.wisedu.com/fe_components/bh_utils.js"></script>
    <script src="http://res.wisedu.com/bower_components/sortable/Sortable.min.js"></script>
    <script src="http://res.wisedu.com/bower_components/selectize/dist/js/standalone/selectize.min.js"></script>
    <!-- <script src="//res.wisedu.com/fe_components/we/we.pagination.js"></script> -->

    <!-- nicescroll -->
    <script src="http://res.wisedu.com/bower_components/jquery.nicescroll/jquery.nicescroll.min.js"></script>
    <!-- EMAP 依赖库 -->
    <script src='http://res.wisedu.com/bower_components/hogan.js/web/1.0.0/hogan.min.js'></script>
    <script src='http://res.wisedu.com/fe_components/emap.js'></script>
    <!-- mock.js 在开发环境无法模拟post请求数据时使用 -->
    <script src='http://res.wisedu.com/fe_components/mock/getmock.js'></script>
    <!-- <script src="./mock/forceGet.js"></script> -->

    <!-- 文件上传控件依赖库 -->
    <script src="http://res.wisedu.com/bower_components/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="http://res.wisedu.com/bower_components/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
    <script src="http://res.wisedu.com/bower_components/blueimp-file-upload/js/jquery.fileupload.js"></script>

    <!-- 日历控件依赖库 -->
    <!--
    <script src='http://res.wisedu.com/bower_components/moment/min/moment.min.js'></script>
    <script src='http://res.wisedu.com/bower_components/moment/locale/zh-cn.js'></script>
    <script src='http://res.wisedu.com/bower_components/underscore/underscore-min.js'></script>
    <script src='http://res.wisedu.com/bower_components/clndr/clndr.min.js'></script>
    -->

    <!-- 富文本编辑器 -->
    <!--
    <script src="http://res.wisedu.com/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="http://res.wisedu.com/bower_components/summernote-0.8.1/dist/summernote.js"></script>
    -->
    <!-- built files will be auto injected -->
  </body>
</html>
