@import 'transition';

body {
  margin: 0px;
  height: 100%;
  width: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
html{
  height: 100%;
  overflow: auto;
  width: 100%;
  box-sizing: border-box;
}
ul, ul li{
  margin: 0;
  padding: 0;
  list-style: none;
}
