{
  "env": { {{#if_eq runner "karma"}}
    "mocha": true{{/if_eq}}{{#if_eq runner "jest"}}
    "jest": true{{/if_eq}}
  },
  "globals": { {{#if_eq runner "karma"}}
    "expect": true,
    "sinon": true{{/if_eq}}
  }
}
