html, body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
}

body {
    font-size: 0.8rem;
    font-family: PingFangSC-Regular Microsoft-Yahei;
    background-color: #f6f7f7;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.btn, .opt {
    cursor: pointer;
}
