// Create grayscale
$gray-dark:                 #292b2c !default;
$gray:                      #171717 !default;
$gray-light:                #636c72 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

// Reassign color vars to semantic color scheme
$brand-primary:             #ff9c26 !default;
// $brand-success:             $green !default;
// $brand-info:                $teal !default;
// $brand-warning:             $orange !default;
// $brand-danger:              $red !default;
// $brand-inverse:             $gray-dark !default;

// z-index
$zindex-dropdown:           1000 !default;
$zindex-sticky:             1020 !default;
$zindex-fixed:              1030 !default;
$zindex-modal-backdrop:     1040 !default;
$zindex-modal:              1050 !default;
$zindex-popover:            1060 !default;
$zindex-tooltip:            1070 !default;