<!DOCTYPE html>
<html data-dpr="1" style="font-size: 75px;">

<head>
  <meta charset="utf-8">
  <title>标题</title>
  <script src="//static.mama.cn/std/lib/jquery/2.1.4/jquery.min.js"></script>
  <script src="//static.mama.cn/std/lib/MamaJSBridge/1.0/MamaJSBridge.min.js"></script>
</head>

<body style="font-size: 14px;">
  <!--<iframe src="http://act.mama.cn/cms/2017/medela/header.html" frameborder="0" style="position: absolute; top:0; left: 0; width: 100%; height:400px; z-index:99; background: transparent; overflow:hidden"></iframe>-->
  <div id="pc"></div>
  <!-- built files will be auto injected -->
</body>

</html>