//Color
$blue-color = #409EFF;
$green-color = #5fbeaa
$success-color = #67C23A;
$warning-color = #EB9E05;
$danger-color = #FA5555;
$gray-color = #a9a9a9
$info-color = #878D99;

//Font color
$font-color-main = #2D2F33;
$font-color-normal = #5A5E66;
$font-color-sub = #878D99;
$font-color-low = #B4BCCC;

//Border color
$border-color-main = #D8DCE5;
$border-color-normal = #D8DCE5;
$border-color-sub = #E6EBF5;
$border-color-low = #EDF2FC;

//Font size
$font-size-x-large = 20px;
$font-size-large = 18px;
$font-size-medium = 16px;
$font-size-small = 14px;
$font-size-x-small = 13px;
$font-size-xx-small = 12px;

// 阴影
$box-shadow = 0 5px 15px rgba(0,0,0,.5)
$box-shadow-1 = 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12)
$box-shadow-2 = 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12)
$box-shadow-3 = 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12)
$box-shadow-4 = 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12)
$box-shadow-5 = 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12)
$box-shadow-inset = inset 0 3px 1px -2px rgba(0,0,0,.2), inset 0 2px 2px 0 rgba(0,0,0,.14), inset 0 1px 5px 0 rgba(0,0,0,.12)