//
// Variables
// --------------------------------------------------

// Type
// --------------------------------------------------
@font-family-default: "Helvetica Neue", Helvetica, sans-serif;
@font-size-default: 0.85rem;
@font-weight: 500;
@font-weight-light: 400;
@line-height-default: 1.05rem;


//img
@imgBaseUrl: "../img";

// Colors
// --------------------------------------------------

@notice-bg-color:#f55d54;
// 主色
@color-primary: #2E7CCC;
@color-danger: #f6383a;
@color-warning:#ff9933;
@color-success: #4cd964;

@color-primary-active: #0a8ddf;
@color-danger-active: darken(@color-danger, 10%);
@color-warning-active: darken(@color-warning, 10%);
@color-success-active: darken(@color-success, 10%);

@color-split: #e7e7e7;  //分割线的颜色
@color-bg: #eee;
@color-text: #3d4145; //文案色
@color-text-secondary: #5f646e; //次级文案
@color-text-gray: #999; //灰色文案
@color-text-gray-light: #c1c1c1; //更灰色文案

//灰色页面背景
@color-gray-bg: #e9e9e9;
@color-gray-bg-light: #F4F4F4;
@color-searchbox-bg: @color-text-gray-light;

//链接色
@color-link: @color-primary; //链接色有可能不同于主色
@color-link-active: @color-primary-active; //链接色有可能不同于主色

// Bars
// --------------------------------------------------

@bar-base-height:  2.4rem;
@bar-tab-height:   2.5rem;
@bar-side-spacing: 0.5rem;


// Cards
// --------------------------------------------------

@card-bg: #fff;


// Buttons
// --------------------------------------------------

@button-font-size: 0.6rem;


// Transitions
// --------------------------------------------------

@timing-fuction: cubic-bezier(.1,.5,.1,1); // Inspired by @c2prods


// Borders
// --------------------------------------------------

@border-default-width: 1px;
@border-default-color: @color-split;
@border-default: @border-default-width solid @border-default-color;
@border-radius: 0.3rem;

@border-deep-gray: @color-searchbox-bg; //深灰色线条
