@import "fontface";
@import "reset";
@import "mixins";

body {
  font-family: Helvetica, sans-serif;
  background-color: #f6f6f6;
  color: #5c5c5c;
}

.process_border{
  .border-1px(1px,#000);
}

.blur {
  //filter: blur(4px);
}


