@import url('./index.less');
@chartHeight: 200px;
.home-main {
    .flexDisplay();
    flex: 1;
    flex-direction: column;
    .table-wrap {
        .flexDisplay();
        .box-shadow();
        background-color: #fff;
        border-radius: 6px;
        flex-direction: column;
        .table-chart {
            width: 100%;
        }
    }
}